[Desktop Entry]
Name=LAA Maps Editor
Name[en_US]=LAA Maps Editor
Comment=LAA Maps Editor
GenericName=Competition Editor
Exec=env QT_QPA_PLATFORMTHEME=gtk2 editor %u
Terminal=false
Type=Application
Icon=editor64.png
Categories=Application;Qt;Network;
StartupNotify=true
